<% layout('layouts/boilerplate2') %>

    <div class="retainer">

        <div style="width: 80%;">
            <a href="/index" class="btn btn-primary" style="float: left;">Regresar</a>

        </div>

        <div class="card my-3 p-3 p-card">

            <div class="row" style="justify-content: center; text-align: center;">
                <div class="col-md-3" style="width: fit-content;">
                    <h2 class="card-title mt-3">
                        <%=otherUser.username %>
                    </h2>
                </div>
            </div>

            <hr style="padding: 1px; background-color: black; opacity: 1;">

            <div class="row" style="justify-content: space-around;">
                <div class="col-md-3">
                    <!-- Mostrar hasta 5 libros que tiene -->
                    <div style="justify-content: center; text-align: center ;">
                        <h6>Libros que tiene</h6>
                    </div>
                    <hr>
                    <ul>
                        <% for (let i=0; i < otherUser.tiene_libros.length; i++) { %>
                            <li>
                                <%= otherUser.tiene_libros[i].nombre %>
                            </li>
                            <% } %>

                    </ul>
                </div>

                <div class="vr" style="padding: 1px; background-color: black; opacity: 1;"></div>

                <div class="col-md-3">
                    <!-- Mostrar hasta 5 libros que quiere -->
                    <div style="justify-content: center; text-align: center ;">
                        <h6>Libros que quiere</h6>
                    </div>
                    <hr>
                    <ul>
                        <% for (let i=0; i < otherUser.quiere_libros.length; i++) { %>
                            <li>
                                <%= otherUser.quiere_libros[i].nombre %>
                            </li>
                            <% } %>

                    </ul>
                </div>

                <div class="vr" style="padding: 1px; background-color: black; opacity: 1;"></div>

                <div class="col-md-3">
                    <!-- Mostrar hasta 5 libros que quiere -->
                    <div style="justify-content: center; text-align: center ;">
                        <h6>Generos que tiene</h6>
                    </div>
                    <hr>
                    <ul>
                        <% for (let i=0; i < otherUser.genero_tiene.length; i++) { %>
                            <li>
                                <%= otherUser.genero_tiene[i] %>
                            </li>
                            <% } %>

                    </ul>
                </div>

            </div>
        </div>

        <% if (currentUser.username !=otherUser.username) { %>

            <% if (currentUser && !ofertaExistente) { %>
                <div class="card my-3 p-3 p-card" style="border-color: black; border-style: dashed;">
                    <form action="/index/<%=otherUser.username %>/offers" method="POST">
                        <div class="mb-3">
                            <div style="justify-content: center; text-align: center ;">
                                <h4>Hacer oferta</h4>
                            </div>
                            <hr>
                            <textarea class="form-control" name="texto" id="FormControlTextarea1" rows="3"
                                placeholder="Detalla lo que te gustaría intercambiar."
                                style="border-color: black; background-color: #FFEFCA;" required></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary" style="float: right;">Enviar</button>
                    </form>
                </div>
                <% } %>

                    <% if (currentUser && ofertaExistente) { %>
                        <% if (esReceptor) { %>
                            <div class="card my-3 p-3 message">
                                <div style="justify-content: center; text-align: center ;">
                                    <h5>¡Ya has recibido una oferta de <%= otherUser.username %>!</h5>
                                </div>
                                <hr style="margin: 0;">
                                Esta debe ser aceptada o rechazada antes de enviar una nueva
                                
                            </div>
                            <% } else { %>
                                <div class="card my-3 p-3 message">
                                    <div style="justify-content: center; text-align: center ;">
                                        <h5>¡Oferta enviada!</h5>
                                    </div>
                                    <hr style="margin: 0;">
                                    Esta debe ser aceptada o rechazada antes de enviar una nueva
                                </div>
                                <% } %>
                                    <% } %>

                                        <% if (!currentUser) { %>
                                            <div class="card my-3 p-3 col-md-4">
                                                <h5 class="card-title">Inicia sesión para enviar una oferta</h5>
                                                <a href="/login" class="btn btn-primary">Iniciar Sesión</a>
                                            </div>
                                            <% } %>

                                                <% } %>

    </div>